#chat{
    border: 2px solid black;
    border-radius: 8px; 
}

#msg-list{
    padding-top: 10px;
    overflow: auto;
    width: 100%;
    height: 500px;
    // border: 2px solid black;
    // border-radius: 8px;
}

#msg-list .name{
    color:rgb(28, 56, 179);
    text-decoration: none;
    font-weight: bolder;
    outline: none;
}

.date{
    color: rgb(116, 116, 116);
    font-size: 12px;
    margin-top: 5px;
}

.msg_text{
    margin-top: 10px;
}

#msg-list .message{
    display: flex;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin: 10px;
}

.message img{
    align-self: flex-start;
    max-width: 40px;
    border-radius: 50%;
}
.message .msg-body{
    margin-left: 10px;
    flex: 1;
}

.message > p{
    margin: 0;
}

#chat #send_msg{
    height: 40px;
    padding: 10px;
    border-top: 2px solid black;
    display: flex;
}

#send_msg input[type="text"]{
    height: 40px;
    background: none;
    border: none;
    outline: none;
    line-height: 40px;
    font-size: 16px;
    flex: 1;
}

#send_msg #send-btn{
    margin-left: 10px;
    display: block;
    background: none;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    border: 2px solid rgb(28, 56, 179);
    text-transform: uppercase;
    border-radius: 50%;
    transition: .3s ease;
}

#send_msg #send-btn:hover{
    cursor: pointer;
    background: rgb(28, 56, 179);
    color: white;
}



#msg-list::-webkit-scrollbar{
    width: 10px;
}
#msg-list::-webkit-scrollbar-thumb{
    background: rgb(95, 95, 95);
    border-radius: 24px;
    margin: 5px 0;
}

#msg-list::-webkit-scrollbar-thumb:hover {
    background: rgb(55, 55, 55);
}